body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 64px;
  background-color: black;
  color: #eee;
}

a { color: inherit; }
a:visited { color: inherit; }
a:hover { color: inherit; background-color: inherit;}

ul {
  list-style: none;
}

.character_portrait {
  vertical-align: middle;
}

div#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #eee;
  color: black;
}

/*div#banner {
  height: 24px;
  background-color: white;
  color: black;
}
*/
div#user_block {
  padding: 5px;
  float: right;
  width: 40%;
  background-color: #eee;
  color: black;
}

div#page {
  height: 100%;
  width: 760px;
  margin: auto;
}

div#main {
}

div#right_side {
  float: right;
}

div#footer {
  clear: both;
}

