html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding-top: 64px;
  background-color: rgb(8, 8, 10);
  color: rgb(221, 221, 221);
}

a {
  color: rgb(255, 165, 0);
  text-decoration: none;
}
a:visited { color: rgb(255, 165, 0); }
a:hover { color: rgb(255, 165, 0); background-color: inherit;}

ul {
  list-style: none;
}

th {
  text-align: left;
  font-size: 120%;
}

ol#events {
  list-style: none;
  width: 564px;
  background-color: #333;
  padding: 10px;
}

ol#events li {
  line-height: 16px;
  padding: 10px 0px 8px;
  padding-left: 0.5em;
  margin: 5px;
  background-color: #666;
  color: #ccc;
  font-family: Helvetica;
  position: relative;
}

.new_event {
  display: none;
}

.character_portrait {
}

.thumb {
  display: block;
  position: absolute;
  height: 64px;
  width: 64px;
  left: 6px;
  margin: 0px 10px 0px 0px;
  overflow: hidden;
}

.status-body {
  display: block;
  margin-left: 72px;
  min-height: 64px;
  overflow: hidden;
}

.meta {
  color: #999;
  display: block;
  font-size: 11px;
}

.error_message, .errorExplanation {
  color: red;
}

.nowrap {
  white-space: nowrap;
}

.newtab {
  target-name: new;
  target-new: tab;
}

div#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #eee;
  color: #111;
/*  border-bottom: 1px solid #999; */
}

/*div#banner {
  height: 24px;
  background-color: white;
  color: black;
}
*/
div#user_block {
  padding: 5px;
  float: right;
  width: 40%;
/*  background-color: rgb(77, 77, 86);*/
}

div#page {
  height: 100%;
  width: 760px;
  margin: auto;
}

div#main {
}

/*div#inner_right_side {
  background-color: #333;
  padding: 1em;
  border: 1px dotted #999;
}
*/
div#right_side {
  float: right;
  margin-left: 2em;
  background-color: #333;
  padding: 1em;
  border: 1px dotted #999;
}

div#footer {
  clear: both;
}
