<div id="right_side">
  <h1>Log In or Register</h1>
  <%= link_to image_tag("Sign-in-with-Twitter-darker.png"), home_url %>
</div>

<div id="main">
  <%= image_tag "placeholder.png", :width => 420, :height => 280 %>
</div>

