<div id="accounts">
  <h2>Eve Accounts</h2>
  <ul>
    <% accounts.each do |account| %>
    <li><%=h account.id %> &mdash; 
      <span id="character_names"><%=h account.characters.map{|x| x.name}.join(", ") %></span>
      [<%= link_to "edit", edit_account_path(account) %>]
    </li>
    <% end -%>
  </ul>
  <p><%= link_to "Add an account", new_account_path %></p>
</div>
